/*-- scss:defaults --*/

// Lab colors
$lab-green-dark: rgba(17, 79, 84, 1);
$lab-green-light: rgba(29, 130, 101, 1);
$lab-blue: rgba(46, 83, 133, 1);
$grey-medium: rgba(211, 208, 203, 1);
$grey-light: rgba(231, 229, 223, 1);
$grey-bg: rgba(246, 244, 238, 1);

// Colors
$link-color: $lab-green-light;
$body-bg: $grey-bg;
$code-block-bg: lighten($grey-light, 10%);
$code-block-border-color: $grey-medium;
$color-color: $lab-blue;
$presentation-heading-color: $lab-green-dark;

// Layout
$presentation-block-margin: 20px;

// Fonts (use the Noto family)
$presentation-heading-font: "Noto Sans Display", "Noto Sans", sans-serif;
$font-family-monospace: "Noto Sans Mono", monospace;
$font-family-sans-serif: "Noto Sans", sans-serif;

// Headings
$presentation-heading-text-transform: capitalize;
$presentation-heading-font-weight: 100;
